extends ../../layout.pug
block content
	
	<div class="container" style="padding-top:5rem;">
		<div class="row justify-content-center ">
			<div class="col-md-10">
				<div class="card">
					<header class="card-header">
						<h4 class="card-title mt-2"><span class="glyphicon glypghicon-user"> New Dataset</span></h4>
					</header>
					<article class="card-body">
						<form name="form1" action="/dataset/add" method="POST" encType="multipart/form-data">
							<div class="form-row">
								<div class="col form-group">
									<label>Dataset Name </label>   
									<input type="text" name="name" class="form-control" placeholder="" required autofocus>
								</div> <!-- form-group end.// -->
								<div class="form-group col">
								<label>Domain</label>
									<select name="domain" id="inputState" class="form-control">
										<option>Office Automation</option>
										<option>Healthcare</option>
										<option>Aerospace</option>
										<option>Entertainment</option>
										<option>Transportation</option>
										<option>Software Engineering Tool</option>
										<option>Industrial</option>
									</select>
								</div> <!-- form-group end.// -->
							</div> <!-- form-row end.// -->				
							<div class="form-group">
								<label>Decription</label>
								<textarea name="description" class="form-control" id="description" rows="3"></textarea>
							</div> <!-- form-group end.// -->
							<br>
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Type</label>
									</div>
									<div class="icheck-default"><input type="checkbox" name="Type" value="Open Source" id="Open Source"><label for="Open Source">Open Source</label></div>
									<div class="icheck-default"><input type="checkbox" name="Type" value="Industrial" id="Industrial"><label for="Industrial">Industrial</label></div>
									<div class="icheck-default"><input type="checkbox" name="Type" value="Academia" id="Academia"><label for="Academia">Academia</label></div>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Programing Language</label>
									</div>
									<div class="icheck-default"><input type="checkbox" name="ProgramingLanguage" value="Java" id="Java"><label for="Java">Java</label></div>
									<div class="icheck-default"><input type="checkbox" name="ProgramingLanguage" value="C" id="C"><label for="C">C</label></div>
									<div class="icheck-default"><input type="checkbox" name="ProgramingLanguage" value="C#" id="C#"><label for="C#">C#</label></div>
									<div class="icheck-default"><input type="checkbox" name="ProgramingLanguage" value="Textual" id="Textual"><label for="Textual">Textual</label></div>
								</div>
							</div>
							<br>
							<div class="form-control-label">
								<label>Artifact Format</label>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12 demo-col">
									<div class="icheck-default"><input type="checkbox" name="ArtifactsFormat" value="Xml" id="Xml"><label for="Xml">Xml</label></div>
									<div class="icheck-default"><input type="checkbox" name="ArtifactsFormat" value="Csv" id="Csv"><label for="Csv">Csv</label></div>
									<div class="icheck-default"><input type="checkbox" name="ArtifactsFormat" value="Html" id="Html"><label for="Html">Html</label></div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 demo-col">
									<div class="icheck-default"><input type="checkbox" name="ArtifactsFormat" value="Osl" id="Osl"><label for="Osl">Osl</label></div>
									<div class="icheck-default"><input type="checkbox" name="ArtifactsFormat" value="Text" id="Text"><label for="Text">Text</label></div>
									<div class="icheck-default"><input type="checkbox" name="ArtifactsFormat" value="Italian" id="Italian"><label for="Italian">Italian</label></div>
								</div>
							</div>
							<br>
							<br>
							<div class="form-control-label">
								<label>Artifacts Type</label>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-6 col-xs-12 demo-col">
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Requirements" id="Requirements">
										<label for="Requirements">Requirements</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Source Code" id="Source Code">
										<label for="Source Code">Source Code</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Use Cases" id="Use Cases">
										<label for="Use Cases">Use Cases</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Code Classes" id="Code Classes">
										<label for="Code Classes">Code Classes</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Diagrams" id="Diagrams">
										<label for="Diagrams">Diagrams</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Test Cases" id="Test Cases">
										<label for="Test Cases">Test Cases</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Uml Classes" id="Uml Classes">
										<label for="Uml Classes">Uml Classes</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Components" id="Components">
										<label for="Components">Components</label>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12 demo-col">
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Test Suite" id="Test Suite">
										<label for="Test Suite">Test Suite</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Methods" id="Methods">
										<label for="Methods">Methods</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Functional Requirements" id="Functional Requirements">
										<label for="Functional Requirements">Functional Requiremnts</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="NonFunctionalRequirements" id="NonFunctionalRequirements">
										<label for="NonFunctionalRequirements">Non Functional Requirements</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="HighLevelRequirements" id="HighLevelRequirements">
										<label for="HighLevelRequirements">High Level Requirements</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="LowLevelRequirements" id="LowLevelRequirements">
										<label for="LowLevelRequirements">Low Level Requirements</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="User Level Requiremnts" id="User Level Requiremnts">
										<label for="User Level Requiremnts">User Level Requirements</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Process" id="Process">
										<label for="Process">Process</label>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12 demo-col">
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Requiremnt Specification" id="Requiremnt Specification">
										<label for="Requiremnt Specification">Requiremnt Specification</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Architecture Documents" id="Architecture Document">
										<label for="Architecture Document">Architecture Document</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Design Documents" id="Design Document">
										<label for="Design Document">Design Document</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="User Stories" id="User Stories">
										<label for="User Stories">User Stories</label>
									</div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Tasks" id="Tasks">
										<label for="Tasks">Tasks</label></div>
									<div class="icheck-default">
										<input type="checkbox" name="ArtifactsType" value="Developer Test" id="Developer Test">
										<label for="Developer Test">Developer Test</label>
									</div>
								</div>
							</div>
							<br>
							<br>
							<div class="row">
								<div class="col-md-3 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Oracle Developer</label>
									</div>
									<div class="icheck-default"><input type="checkbox" name="OracleDeveloper" value="Students" id="Students"><label for="Students">Students</label></div>
									<div class="icheck-default"><input type="checkbox" name="OracleDeveloper" value="Industry" id="Industry"><label for="Industry">Industry</label></div>
									<div class="icheck-default"><input type="checkbox" name="OracleDeveloper" value="Developers" id="Developers"><label for="Developers">Developers</label></div>
								</div>
								<div class="col-md-3 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Oracle Collection</label>
									</div>
									<div class="icheck-default"><input type="radio" name="OracleCollections" value="Manually" id="Manually"><label for="Manually">Manually</label></div>
									<div class="icheck-default"><input type="radio" name="OracleCollections" value="Automatic" id="Automatic"><label for="Automatic">Automatic by Tool</label></div>
								</div>
								<div class="col-md-3 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Oracle Is Present</label>
									</div>
									<div class="icheck-default"><input type="radio" name="OracleIsPresent" value="Yes" id="Yes1"><label for="Yes1">Yes</label></div>
									<div class="icheck-default"><input type="radio" name="OracleIsPresent" value="No" id="No1"><label for="No1">NO</label></div>
								</div>
								<div class="col-md-3 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Oracle Size</label>
									</div>
									<br>
									<input type="range" name="OracleSize" min="1" max="2000" value="1000" class="slider" id="" style="width:100%;">
								</div>
							</div>
							<br>
							<br>
							<div class="row">
								<div class="col-md-3 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Storage</label>
									</div>
									<div class="icheck-default"><input type="radio" name="Storage" value="Public" id="Public"><label for="Public">Public</label></div>
									<div class="icheck-default"><input type="radio" name="Storage" value="Private Server" id="Private Server"><label for="Private Server">Private Server</label></div>
									<div class="icheck-default"><input type="radio" name="Storage" value="Organizational Server" id="Organizational Server"><label for="Organizational Server">Organizational Server</label></div>
								</div>
								<div class="col-md-3 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Licensing</label>
									</div>
									<div class="icheck-default"><input type="radio" name="Licensing" value="Yes" id="Yes2"><label for="Yes2">Yes</label></div>
									<div class="icheck-default"><input type="radio" name="Licensing" value="No" id="No2"><label for="No2">NO</label></div>
								</div>
								<div class="col-md-3 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Oracle Is Present</label>
									</div>
									<div class="icheck-default"><input type="radio" name="IndustryRepresntative" value="Yes" id="Yes3"><label for="Yes3">Yes</label></div>
									<div class="icheck-default"><input type="radio" name="IndustryRepresntative" value="No" id="No3"><label for="No3">NO</label></div>
								</div>
								<div class="col-md-3 col-sm-12 col-xs-12 demo-col">
									<div class="form-control-label">
										<label>Multi Versions</label>
									</div>
									<div class="icheck-default"><input type="radio" name="MultiVersion" value="Yes" id="Yes4"><label for="Yes4">Yes</label></div>
									<div class="icheck-default"><input type="radio" name="MultiVersion" value="No" id="No4"><label for="No4">No</label></div>
								</div>
							</div>
							<hr>
							<br>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 demo-col">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
										</div>
										<div class="custom-file">
											<input name="uploadedfile" type="file" class="custom-file-input" id="inputGroupFile01" required>
											<label class="custom-file-label" for="inputGroupFile01">Choose Dataset File</label>
										</div>
									</div>
								</div>
							</div>
							<br>
							<br>
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-block"> Create Dataset  </button>
							</div> <!-- form-group// -->                                              
						</form>
					</article> <!-- card-body end .// -->
				</div> <!-- card.// -->
			</div> <!-- col.//-->
		</div> <!-- row.//-->   
	</div>
