<br>
<form name="form1" action="/dataset/filter" method="POST" id="frm">
<div class="filtertitle"><h4 style="margin: -5px;">Domain</h4></div>
<div class="filterelements">
        
        <div class="icheck-default"><input class="box" type="checkbox" name="domain" value="Office Automation" id="Office Automation"><label for="Office Automation">Office Automation</label></div>
        <div class="icheck-default"><input class="box" type="checkbox" name="domain" value="Healthcare" id="Healthcare"><label for="Healthcare">Healthcare</label></div>
        <div class="icheck-default"><input class="box" type="checkbox" name="domain" value="Aerospace" id="Aerospace"><label for="Aerospace">Aerospace</label></div>
        <div class="icheck-default"><input class="box" type="checkbox" name="domain" value="Entertainment" id="Entertainment"><label for="Entertainment">Entertainment</label></div>
        <div class="icheck-default"><input class="box" type="checkbox" name="domain" value="Transportation" id="Transportation"><label for="Transportation">Transportation</label></div>
        <div class="icheck-default"><input class="box" type="checkbox" name="domain" value="Software Engineering Tool" id="Software Engineering Tool"><label for="Software Engineering Tool">Software Engineering Tool</label></div>
        <div class="icheck-default"><input class="box" type="checkbox" name="domain" value="Industrial" id="Industrial"><label for="Industrial">Industrial</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Type</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="Type" value="Open Source" id="Open Source"><label for="Open Source">Open Source</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="Type" value="Industrial" id="Industrial-1"><label for="Industrial-1">Industrial</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="Type" value="Academia" id="Academia"><label for="Academia">Academia</label></div>
    
    
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Programing Language</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="ProgramingLanguage" value="Java" id="Java"><label for="Java">Java</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ProgramingLanguage" value="C" id="C"><label for="C">C</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ProgramingLanguage" value="C#" id="C#"><label for="C#">C#</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ProgramingLanguage" value="Textual" id="Textual"><label for="Textual">Textual</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Popular(Cited by Researchers)</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="Popular" value="Yes" id="Yes"><label for="Yes">Yes</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="Popular" value="No" id="No"><label for="No">No</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Multi Versions</h4></html></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="MultiVersion" value="Yes" id="Yes4"><label for="Yes4">Yes</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="MultiVersion" value="No" id="No4"><label for="No4">No</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Artifacts Type</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Requirements" id="Requirements"><label for="Requirements">Requirements</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Source Code" id="Source Code"><label for="Source Code">Source Code</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Use Cases" id="Use Cases"><label for="Use Cases">USe Cases</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Code Classes" id="Code Classes"><label for="Code Classes">Code Classes</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Diagrams" id="Diagrams"><label for="Diagrams">Diagrams</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Test Cases" id="Test Cases"><label for="Test Cases">Test Cases</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Uml Classes" id="Uml Classes"><label for="Uml Classes">Uml Classes</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Components" id="Components"><label for="Components">Components</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Test Suite" id="Test Suite"><label for="Test Suite">Test Suite</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Methods" id="Methods"><label for="Methods">Methods</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Functional Requirements" id="Functional Requirements"><label for="Functional Requirements">Functional Requiremnts</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Non Functional Requirements" id="Non Functional Requirements"><label for="Non Functional Requiremnts">Non Functional Requirements</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="High Level Requirements" id="High Level Requirements"><label for="High Level Requiremnts">High Level Requirements</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Low Level Requirements" id="Low Level Requirements"><label for="Low Level Requiremnts">Low Level Requirements</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="User Level Requirements" id="User Level Requirements"><label for="User Level Requiremnts">User Level Requirements</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Process" id="Process"><label for="Process">Process</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Requirement Specification" id="Requirement Specification"><label for="Requiremnt Specification">Requirement Specification</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Architecture Documents" id="Architecture Document"><label for="Architecture Document">Architecture Document</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Design Documents" id="Design Document"><label for="Design Document">Design Document</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="User Stories" id="User Stories"><label for="User Stories">User Stories</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Tasks" id="Tasks"><label for="Tasks">Tasks</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsType" value="Developer Test" id="Developer Test"><label for="Developer Test">Developer Test</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Artifacts Size</h4></div>
<div class="filterelements">
    <input type="range" name="ArtifactSize" min="1" max="2000" value="1000" class="slider" id="">
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Artifacts Format</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsFormat" value="Xml" id="Xml"><label for="Xml">Xml</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsFormat" value="Csv" id="Csv"><label for="Csv">Csv</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsFormat" value="Html" id="Html"><label for="Html">Html</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsFormat" value="Osl" id="Osl"><label for="Osl">Osl</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsFormat" value="Text" id="Text"><label for="Text">Text</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="ArtifactsFormat" value="Italian" id="Italian"><label for="Italian">Italian</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Oracle Is Present</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="radio" name="OracleIsPresent" value="Yes" id="Yes1"><label for="Yes1">Yes</label></div>
    <div class="icheck-default"><input class="box" type="radio" name="OracleIsPresent" value="No" id="No1"><label for="No1">NO</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Oracle Developers</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="OracleDeveloper" value="Students" id="Students"><label for="Students">Students</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="OracleDeveloper" value="Industry" id="Industry"><label for="Industry">Industry</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="OracleDeveloper" value="Developers" id="Developers"><label for="Developers">Developers</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Oracle Size</h4></div>
<div class="filterelements" >
    <input type="range" name="OracleSize" min="1" max="2000" value="1000" class="slider" id="" style="width:100%;">
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Oracle Collections</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="OracleCollections" value="Manually" id="Manually"><label for="Manually">Manually</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="OracleCollections" value="Automatic" id="Automatic"><label for="Automatic">Automatic by Tool</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Storage</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="Storage" value="Public" id="Public"><label for="Public">Public</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="Storage" value="Private Server" id="Private Server"><label for="Private Server">Private Server</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="Storage" value="Organizational Server" id="Organizational Server"><label for="Organizational Server">Organizational Server</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Licensing</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="Licensing" value="Yes" id="Yes2"><label for="Yes2">Yes</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="Licensing" value="No" id="No2"><label for="No2">NO</label></div>
</div>
<div class="filtertitle"><h4 style="margin: 0px;">Industry Reprentative</h4></div>
<div class="filterelements">
    <div class="icheck-default"><input class="box" type="checkbox" name="IndustryRepresntative" value="Yes" id="Yes3"><label for="Yes3">Yes</label></div>
    <div class="icheck-default"><input class="box" type="checkbox" name="IndustryRepresntative" value="No" id="No3"><label for="No3">NO</label></div>
</div>
</form>

script.
    $(window).on("beforeunload", function() { 
    return confirm("Do you really want to close?"); 
    })